Host *
{{- if eq .chezmoi.os "darwin" }}
    UseKeychain yes
{{- end }}
    AddKeysToAgent yes
    IdentityFile ~/.ssh/id_ed25519

Include ~/.ssh/config.d/config.cas
Include ~/.ssh/config.d/config.fdv
Include ~/.ssh/config.d/config.ict4d
